@use '../abstracts/variables' as *;

.asset-row {
  margin-bottom: 8px;
}

.button {
  &--large {
    padding: 0rem 5rem;
    height: 2.75rem;
    border: 0 !important;
    font-size: 0.8rem;

    &.button {
      &--enabled {
        background-color: var(--button--supply--deemphasized);
        border: 2px solid var(--text--supply);
        color: var(--text--supply);

        .svg__path {
          fill: var(--text--supply);
        }

        &.button--selected {
          border: 2px solid $green--50;
        }
        &.button--deselected {
          background-color: var(--button--neutral--disabled--1);
          border: 2px solid $green--90;
        }
      }
    }
  }
}
