
iframe {
  width: 100%;
  height: 2000px;
  border: none;
}

.theme-toggle {
  &--enabled {
    .theme-toggle__thumb {
      transform: translateX(1.875rem);
    }
    .moon-icon {
      display: flex;
    }
    .sun-icon {
      display: none;
    }
  }
}
