@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as mixins;

.connected-wallet {
  &__row-info {
    align-items: center;
    display: flex;

    .copy {
      cursor: pointer;
      margin-left: auto;
    }

    .dot-indicator {
      border-radius: 50%;
      height: 9px;
      margin-right: 0.5rem;
      width: 9px;
      background-color: var(--text--2);

      &--ethereum {
        background-color: $color--ethereum;
      }

      &--goerli {
        background-color: $color--goerli;
      }

      &--kovan {
        background-color: $color--kovan;
      }
    }
  }
}
