name: Test Web
on: push

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Install NodeJS
      uses: actions/setup-node@v2
      with:
        node-version: '18'
        cache: yarn

    - name: Install Node Dependencies
      run: yarn install

    - name: Test
      run: yarn web:test --passWithNoTests
