name: Check types
on:
  workflow_dispatch:
  pull_request:
jobs:
  check-types:
    name: Check types
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: '18'

      - name: Install packages
        run: yarn install

      - name: Enumerate
        run: find src

      - name: Check types
        run: tsc
